<!--尾部模板-->
<div id="footer">
    <div class="container">

        <p id="banquan">租鱼儿&nbsp;<a href="###">zuyuer</a>&nbsp;Copyright (c) 2017 <a href="http://www.zuyuer.com" target="_blank">www.zuyuer.com.</a> All Rights Reserved 苏ICP备16050620号</p>
    </div>
</div>
<!--footer end-->

<div id="cbbfixed">
    <a href="###" class="cbbtn" id="cweixin">
        <span class="yy-icon yy-weixin"></span>
        <div></div>
    </a>
    <a href="###" class="cbbtn" id="gotop">
        <span class="yy-icon yy-gt"></span>
    </a>
</div>